div#resume {
  margin: 0;
  height: 100%;
  color: #333;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#resume .time {
  width: 100%;
  height: 40px;
}

#resume .content {
  width: 100%;
}

.mark {
  width: 50%;
}

.display-none {
  display: none !important;
}

.marked {
  min-width: 49px;
}

.mark, .marked {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

.mark, .marked, .mark textarea {
  height: 500px;
}

textarea {
  border: none;
  width: 100%;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  padding: 20px;
}

code {
  color: #f66;
}
