!!! 5
html
  head
    title
      {% block title %}Horus is watching you{% endblock %}

    {% block default_stylesheets %}
    link(rel="stylesheet", type="text/css", href=url_for('static', filename='lib/semantic.min.css'))
    link(rel="stylesheet", type="text/css", href=url_for('static', filename='css/main.css'))
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    {% endblock %}

    {% block stylesheets %}{% endblock %}

  body
    #header.following.bar
      .ui.page.grid
        .column
          .ui.right.floated.secondary.menu.inverted
            .ui.floating.dropdown.link.item
              {% if g.user %}
              img.ui.image.mini.circular(src="http://gh.windrunner.info/resume/images/avatar.jpg")
              | {{ g.user.name }}
              {% else %}
              .ui.teal.buttons
                .ui.button
                  a Login
                .ui.floating.dropdown.icon.button
                  i.dropdown.icon
                  .menu
                    .item
                      a
                        i.fa.fa-user-plus
                        | Register
              {% endif %}

          .ui.large.inverted.secondary.network.menu
            a.view-ui.item(href="/")
              i.home.icon
              | Home
            a.view-ui.item(href=url_for('admin.index'))
              i.fa.fa-cog.icon
              | Admin
            a.view-ui.item(href=url_for('frontend.list_resumes'))
              i.fa.fa-file-text-o.icon
              | Resumes
            a.view-ui.item(href="")
              i.fa.fa-briefcase.icon
              | Jobs

    {% block body %}{% endblock %}

    {% block default_scripts %}
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="//semantic-ui.com/dist/semantic.min.js")
    script
      $('.ui.dropdown').dropdown();
    {% endblock %}

    {% block scripts %}{% endblock %}
